form{
    font-size:small;
}
.desc{
    font-size:x-small;
}
.infoDiv{
    width: 100vw !important; 
    height: 15rem;
}
.page-title{
    margin-top: 6rem;
}


  
  @media  (min-width: 1024px) {
       .desc{
        font-size:small !important;
       }
       .img{
        max-height: 28vh !important;
       }
  }

  @media  (min-width: 2560px) {
    .desc{
     font-size:small !important;
    }
    .img{
     max-height: 28vh !important;
    }
}