main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100vw;
  /* height: 50vh; */
  /* background-color: #065EB5; */
  margin-top: 50px;
  margin-bottom:50px;
}
h1 {
  font-weight: 700;
  padding:15px;
  color:#003364;
}
p{
  padding: auto;
  
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
input,
button {
  border: none;
  background: none;
  outline: 0;
  
}
button {
  cursor: pointer;
}
.SearchBox-input::placeholder {
  /* No es un seudoelemento estandar */
  color: #FFFFFF;
  opacity: 0.6;
}
/* Chrome, Opera ySafari */
.SearchBox-input::-webkit-input-placeholder {
color: #FFFFFF;
}
/* Firefox 19+ */
.SearchBox-input::-moz-placeholder {
color: #FFFFFF;
}
/* IE 10+ y Edge */
.SearchBox-input:-ms-input-placeholder {
color: #FFFFFF;
}
/* Firefox 18- */
#formGroupExampleInput:-moz-placeholder {
color: #FFFFFF;
}

.SearchBox {
  --height: 4em;
  display: flex;

  border-radius: 5px;
  background-color:#34b3b3;
  height: 50px;
}
.SearchBox:hover .SearchBox-input {
  padding-left: 2em;
  padding-right: 1em;
  width: 240px;
}
.SearchBox-input {
  width: 0;
  font-size: 1.2em;
  color: #111111;
  transition: 0.45s;
}
.SearchBox-button {
  display: flex;
  border-radius: 5px;
  height: 50px;
  background-color:#003364 ;
  transition: 0.3s;
}
.SearchBox-button:active {
  transform: scale(0.85);
}
.SearchBox-icon {
  margin: auto;
  color: #fff;
}

@media screen and (min-width: 400px) {
  .SearchBox:hover .SearchBox-input {
    width: 500px;
  }
}
