.boxNavbar {
  height: px !important;
}
.logoImageSideBar{
  display: flex !important;
  align-items: center !important;
  max-width: 15vw; /* İstediğiniz genişlik değerine göre ayarlayın */
  max-height: 15vh; /* İstediğiniz yükseklik değerine göre ayarlayın */
  /* background-image: url("../../assets/OIG.jpeg"); */
  /* background-size: cover; /* Resmi arka plana sığdırır */
  /* background-repeat: no-repeat; Resmi yinelemeyi engeller */
  /* background-position: center center; Resmi ortalar */ 
  /* Diğer stil ayarlarınızı burada belirleyebilirsiniz */
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
  transition: width 0.3s ease, height 0.3s ease;
 

}



.logoImageSideBar img {
  width: 12vw; /* İstediğiniz genişlik değerine göre ayarlayın */
  height: 13vh;
  max-width: 50vw; /* İstediğiniz genişlik değerine göre ayarlayın */
  max-height: 50vh; /* İstediğiniz yükseklik değerine göre ayarlayın */
  /* background-image: url("../../assets/OIG.jpeg"); Resmin dosya yolunu belirtin */
  background-size: cover; /* Resmi arka plana sığdırır */
  background-repeat: no-repeat; /* Resmi yinelemeyi engeller */
  background-position: center center; /* Resmi ortalar */
  /* Diğer stil ayarlarınızı burada belirleyebilirsiniz */
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
  transition: width 0.3s ease, height 0.3s ease;
}







.logoImage {
  display: flex;
  align-items: center;
}

.logoImage img {
  width: 6vw; /* İstediğiniz genişlik değerine göre ayarlayın */
  height: 6vh;
  max-width: 4vw; /* İstediğiniz genişlik değerine göre ayarlayın */
  max-height: 10vh; /* İstediğiniz yükseklik değerine göre ayarlayın */
  /* background-image: url("../../assets/OIG.jpeg"); Resmin dosya yolunu belirtin */
  background-size: cover; /* Resmi arka plana sığdırır */
  background-repeat: no-repeat; /* Resmi yinelemeyi engeller */
  background-position: center center; /* Resmi ortalar */
  /* Diğer stil ayarlarınızı burada belirleyebilirsiniz */
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
  transition: width 0.3s ease, height 0.3s ease;
}

.logoImage:hover .logoImage {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); /* Hover durumunda gölge ekleyin */
}

/* .logoImage:hover  { 
  width: 60px;  
  height: 60px;

}
*/

.homeNavbar {
  align-items: center;
  width: 100vw;
  height: 6rem;
  opacity: 80%;
}

.signIn {
  background-color: #017efa;
  border: 5px solid#017EFA;
  height: 2rem;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: block;
}

.signUp {
  background-color: #34b3b3;
  border: 5px solid #34b3b3;
  /* color: #017EFA; */
  height: 2rem;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: block;
}
