.login-container{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    width: 400px!important;
    border-radius: 10px;
    font-size: 13px;
    /* margin-bottom: 50px  */
    
    margin-top: 12rem !important;


}

/* 
.center {
    padding: 70px 0;
    border: 3px solid green;
    text-align: center !important;
  }
  

/* Form elementi için CSS sınıfı tanımlanıyor */
/* .form { */
    /* Form elementinin konumunu ortalamak için */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    /* Form elementinin boyutunu belirlemek için */
    width: 90%;
    height: 90%;
  
    /* Form elementinin dolgusunu vermek için */
    padding: 5px;
  /* } */
   












/* Modal içeriği için CSS sınıfı tanımlanıyor */
/* .modal-content {
    /* Modal içeriğinin konumunu ortalamak için */
    /* position: absolute; */
    /* top: ;
    left: ;
    transform: translate(-50%, -50%); */
  
    /* Modal içeriğinin boyutunu belirlemek için */
    /* width: 400px; */
    /* height: 300px; */
  
    /* Modal içeriğinin dolgusunu vermek için */
    /* padding: 5px; */
  /* }  */
  


  /* Modal içeriği için CSS sınıfı tanımlanıyor */
/* .modal-content{
    display: flex;
    align-items: center;
    justify-content: center;  
} */
  /* .container {
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  
  /* .child {
    width: 100px;
    height: 100px;
  } */
