.registerTitle{
    color: #003364;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .btnRgs{
    border: none;
    background: none;
  }





