.container-signup{
    /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    width: 400px!important;
    border-radius: 10px;
    font-size: 13px;
    /* margin-bottom: 50px  */
    
    /* margin-top: 12rem !important; */ 

        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
        width: 400px!important;
        border-radius: 10px;
        font-size: 13px;
        margin-bottom: 50px;
        margin-top: 50px;
        
        
        /* margin-top: 12rem !important; */
        
        /* position: relative !important; */
        width: 380px !important;
        height: 530px !important;
        /* background: #1C1C1C; */
        border-radius: 8px !important;
        overflow: hidden !important;
        animation: animate 6s linear infinite;
    
}