      /* <---------------------SLIDER CSS START HAAKN BILGI---------------------> */

.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.slide-image {
  height: 60vh;

  background-size: contain;
  background-color: white;
}

@media (min-width: 1200px) {
  .slide-image {
    height: 55vh;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .slide-image {
    height: 45vh;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .slide-image {
    height: 35vh;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .slide-image {
    height: 25vh;
  }
}

@media (max-width: 576px) {
  .slide-image {
    height: 20vh;
  }
}


.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(2, 2, 87, 0.514); 
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.icon-wrapper:hover {
  background-color: rgba(70, 131, 180, 0.541) !important; 
  transform: scale(1.1);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  transition: background-color 0.3s;
}

.icon-container i {
  color: rgba(0, 0, 128, 0.685);
  transition: color 0.3s;
}

.icon-wrapper:hover .icon-container {
  background-color: rgba(0, 0, 128, 0.596) !important; 
}

.icon-wrapper:hover .icon-container i {
  color: white !important;
}


      /* <---------------------SLIDER CSS END HAKAN BILGI ---------------------> */
