.page-title{
  font-family: 'Jost', sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
   
}
.info-div {
  margin-top: 0;
  background-image: url(https://www.tr-yös.com/test/6984215678913/breadcrumb/2.png);
  background-size: cover;
  background-repeat: no-repeat;
  
}
.header{
  height: 100vh;
}
.card {
  align-items: start;
  background-color: white;
}
.university-title {
  color: rgb(20, 20, 94);
  font-weight: 700;
  font-size: 18px;
  &:hover {
    color: #017efa;
  }
}
.uni-faculties {
  color: #e55151;
  background-color: rgba(229, 81, 81, 0.1);
  padding: 5px;
  font-size: x-small;
}
.uni-departments {
  color: #00be82;
  padding: 5px;
  font-size: x-small;
  background-color: rgba(0, 190, 130, 0.12);
}
.uni-contact {
  color: #ffac45;
  &:hover {
    color: white;
    background-color: #ffac45;
  }
}
.fa-location-dot {
  color: #4f5e64;
  font-size: x-small;
}
.fa-phone {
  font-size: small;
}
.university-address {
  font-size: 11px;
  color: #4f5e64;
}
.location-name {
  font-size: 11px;
  color: #4f5e64;
  margin: 5px;
}
.uni-contact {
  background-color: rgba(255, 172, 69, 0.1);
}
.logo {
  height: 156px;
  width: 156px;
}
.pagination{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
}
.back, .next{
  background-color: #022F5D;
  border-radius: 5px;
  color: white;
  margin: 5px;
  height: 35px;
}
.pagination .active {
  background-color: #eee;
  border-radius: 100%;
  height: 35px;
  width: 35px;
  margin: 5px;
}



@media (max-width: 375px) {
 
  .logo {   
    width: 140px; 
    margin: 0 auto; 
  }
}