.boxNavbar{
height: px !important;

}

.homeNavbar {

    align-items: center;
    width: 100vw;
    height: 6rem;
    opacity: 80%;
}

.signIn{
  background-color: #017EFA;
  border: 5px solid#017EFA;
}


.signUp{
  background-color: #34b3b3;
  border: 5px solid  #34b3b3;
  /* color: #017EFA; */
}




